<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" />
    <title>Vegetable Store</title>
</head>
<body>
    <nav>
        <a id="logo" href="/">
            Vegetable Store
        </a>

        <div>
            <a href="/">
                Home
            </a>
            <a href="/store">
                Store
            </a>
            <a href="/login" id="login">
                Login
            </a>
            <a href="/signup" id="signup">
                Signup
            </a>
        </div>

        
    </nav>

    <header>
        <img src="/assets/heading_pic.webp" alt="a man selling fruits" />
        <h1>
            The Best Fresh Vegetable and Fruits at your doorstep
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nesciunt aut sequi. Saepe esse possimus sit repudiandae quisquam necessitatibus, ab expedita fugit illum iste dignissimos nobis veritatis maiores accusamus inventore.
        </p>
        <button>
            <a href="/signup">
                Buy Now
            </a>
        </button>
    </header>
</body>
</html>