<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css" />
    <title>settings</title>
</head>
<body>
    <%- include('partials/navbar.ejs')  %> 

    <div id="ads">
        <p>
            !! Happy New Year !!
        </p>
    </div>

    <h2 id="paginate">
        <a href="/store">
            / store /
        </a>
        <a href="/settings"> 
            settings
        </a>
    </h2>

    <div id="settings_container">

        <div id="account_details">
            <h3>
                Account Details
            </h3>
            <ul>
                <li>
                    <strong>Username: </strong>
                    <span>
                        <%= user.username  %> 
                    </span> 
                </li>
                <li>
                    <strong>Email: </strong>
                    <span>
                        <%= user.email  %> 
                    </span>
                </li>
                <li>
                    <strong>Type: </strong>
                    <span>
                        <% if (user.isAdmin) { %>
                         Admin
                        <% } %>
                        <% if (!user.isAdmin) { %>
                            User
                        <% } %>
                            
                    </span>
                </li>
            </ul>
            <form method="get" action="/logout">
                <button type="submit">
                    Logout
                </button>
            </form>
        </div>


        <div id="account_update">
            <h3>
                Account Update
            </h3>

            <div id="update_details">
                <form method="post" action="/settings/account/update/username?_method=PATCH">
                    <label for="username">
                        Change Username
                    </label>
                    <input type="text" id="username" name="username" placeholder="...type new username" required />
                    <button type="submit">
                        Save Username
                    </button>
                </form>

                <form method="post" action="/settings/account/update/email?_method=PATCH">
                    <label for="email">
                        Change Email
                    </label>
                    <input type="email" id="email" name="email" placeholder="...type new email" required />
                    <button type="submit">
                        Save Email
                    </button>
                </form>

                <form method="post" action="/settings/account/update/password?_method=PATCH">
                    <label for="oldPassword">
                        Old Password
                    </label>
                    <input type="password" id="oldPassword" name="oldPassword" placeholder="...type old Password" required />
                    <label for="newPassword">
                        New Password
                    </label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="...type new password" required />
                    <button type="submit">
                        Save Password
                    </button>
                </form>

                <form id="delete_account" method="post" action="/settings/account/delete?_method=DELETE">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eligendi reprehenderit commodi, quia laudantium quasi nam molestias incidunt. Velit ad quae corrupti delectus impedit doloremque voluptatum eaque fuga est soluta.
                    </p>
                    <input type="password" name="password" required placeholder="Enter password to confirm" />
                    <button type="submit">
                        Delete Account
                    </button>
                    
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>