<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css" />
    <title>signup</title>
</head>
<body>
    <form id="signup" action="/signup" method="post">
        <h2 id="heading">
            Create an Account Here
        </h2>
        
        <label for="username">
            Username:
        </label>
        <input type="text" id="username" name="username" required placeholder="Enter a username.."/>
        <% if (locals.errors) { %>
            <% if (errors.username) { %>
                <strong>
                    <%= errors.username.msg  %> 
                </strong>
            <% } %>
        <% } %>

        <label for="email">
            Email:
        </label>
        <input type="email" id="email" name="email" required placeholder="Enter a email.."/>
        <% if (locals.errors) { %>
            <% if (errors.email) { %>
                <strong>
                    <%= errors.email.msg  %> 
                </strong>
            <% } %>
        <% } %>

        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password" required placeholder="Enter a password.."/>
        <% if (locals.errors) { %>
            <% if (errors.password) { %>
                <strong>
                    <%= errors.password.msg  %> 
                </strong>
            <% } %>
        <% } %>

        <label for="passwordRetyped">
            Retype Password:
        </label>
        <input type="password" id="passwordRetyped" name="passwordRetyped" required placeholder="Enter password again.."/>
        <% if (locals.errors) { %>
            <% if (errors.passwordRetyped) { %>
                <strong>
                    <%= errors.passwordRetyped.msg  %> 
                </strong>
            <% } %>
        <% } %>

        <button type="submit">
            Signup
        </button>

        <p>
            Already got an account? Then, <a href="/login">Login Here</a>
        </p>
    </form>
</body>
</html>