<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/store.css"/>
    <title>store</title>
</head>
<body>
    <%- include('partials/navbar.ejs')  %> 

    <div id="ads">
        <p>
            !! Happy New Year !!
        </p>
    </div>
    <div id="hero">
        <h2>
            Our Products
        </h2>
    </div>

    <form id="search_products">
        <input type="text" id="search_products" name="search_products" placeholder="I'm searching for " required/>
        <button type="submit">
            SEARCH
        </button>
    </form>

    <div id="products_container">
        <h2>
            Our Products
        </h2>

        <div id="products_container_list">
            <% products.forEach(product => { %>
                <div class="product_card">
                    <img src="<%= product.image.path  %>" alt="prouct image" />
                    <h2 class="product_title">
                        <%= product.title  %> 
                    </h2>
                    <h3 class="product_price">
                        Rs. <%= product.price %>
                    </h3>
                    <p>
                        (+/-)/1kg
                    </p>
                    <div class="product_btns">
                        <form class="product_show">
                            <button type="submit">
                                SHOW
                            </button>
                        </form>
                        <form class="product_add">
                            <button type="submit">
                                ADD
                            </button>
                        </form>
                    </div>

                </div>
            <% }) %>
        </div>
    </div>


</body>
</html>