:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}

#heading {
    font-size: 45px;
    text-align: center;
    
}

#heading2 {
    font-size: 24px;
    text-align: center;
    width: 60%;
    margin: 5px auto;
    word-break: break-all;
}

#btn-group1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    margin-top: 20px;
    gap: 20px
}

#btn-group1 a {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    font-size: 20px;
    text-decoration: none;
}


#btn-group1 a:hover {
    background-color: gray;
}

#add_product {
    width: 60%;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 30px auto;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}

#add_product h2 {
    font-size: 24px;
    text-align: center;
}

#add_product label {
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 8px;
    font-weight: 600;
    color: rgb(68, 52, 26);

}

#add_product input,textarea {
    width: auto;
    font-size: 18px;
    padding: 10px 8px;
    border-radius: 10px;
    border: 2px solid gray;
}

#add_product textarea {
    height: 200px;
    resize: none;
}

#add_product legend {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    color:rgb(68, 52, 26);
}

#add_product fieldset {
    margin: 20px 0px;
    width: auto;
    border-radius: 10px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

#add_product div {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    gap: 10px;
}

#add_product fieldset input {
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

#add_product fieldset label {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}



#add_product button {
    font-size: 20px;
    width: 40%;
    margin: 15px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgreen;
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

#add_product button:hover {
    background-color: wheat;
}

#products-list {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: auto;
    padding: 20px;
    gap: 20px;
}

#products-list .product {
    width: 300px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h2 {
    font-size: 22px;
}

.product p {
    font-size: 18px;
    margin: 8px 0px;
}

.product .product-btns-group1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product .product-btns-group1 form button {
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.product-btns-group1 form #update_product {
    background-color: lightblue;
}

.product-btns-group1 form #delete_product {
    background-color: crimson;
}

.product-btns-group1 form #update_product:hover {
    background-color: gray;
}

.product-btns-group1 form #delete_product:hover {
    background-color: gray;
}


#delete_all_products {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
}

#delete_all_products button {
    font-size: 20px;
    color: black;
    background-color: red;
    text-align: center;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 10px;
}

#delete_all_products button:hover {
    background-color: gray;
}


