<!-- views/partials/navbar.ejs -->
<nav>
    <a id="logo" href="/store">
        Vegetable Store
    </a>

    <div>
        <a href="/store">
            Store
        </a>

        <a href="/search">
            Search
        </a>

        <a href="/cart">
            Cart
        </a>

        <a href="/orders">
            Track Orders
        </a>

        <a href="/settings">
            Settings
        </a>
    </div>
</nav>